@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins.ttf') format('truetype-variations');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Italic.ttf') format('truetype-variations');
  font-style: italic;
  font-display: swap;
}

* {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
} */

code, code * {
  font-family: "JetBrains Mono", monospace !important;
}

:root, .dark {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 39, 39, 42;
  --background-end-rgb: 15, 15, 15;  
  --shiki-color-text: #414141;
  --shiki-color-background: #0f0f0f !important;
  --shiki-token-constant: #fff !important;
  --shiki-token-string: #ff7b28 !important;
  --shiki-token-comment: #9D9DA4 !important;
  --shiki-token-keyword: #f42a8b !important;
  --shiki-token-parameter: #ff9800;
  --shiki-token-function: #fa535a !important;
  --shiki-token-string-expression: #ff7b28 !important;
  --shiki-token-punctuation: #212121;
  --shiki-token-link: #ff7b28 !important;
  color-scheme: rgb(39, 39, 42);
}

.nextra-code-block {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nextra-code-block > div:first-of-type, .nextra-code-block button {
  background-color: #18181b !important;
}

.nextra-code-block > pre {
  background-color: #0f0f0f !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

:is(html[class~="dark"] body) {
  background-color: #0b0b0b !important;
}

:is(html[class~=dark] .dark\:nx-bg-dark) {
  background-color: #0b0b0b !important;
}

:is(html[class~=dark] .dark\:nx-shadow-\[0_-12px_16px_\#111\]) {
  box-shadow: none !important;
}

:is(html[class~=dark] .dark\:nx-bg-neutral-900) {
  background-color: #0f0f0f !important;
}

:is(html[class~=dark] footer hr.dark\:nx-border-neutral-800) {
  border: none;
  background-image: linear-gradient(to right, #ff7b28, #f42a8b);
  height: 1px;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

:is(html[class~=dark] table .dark\:nx-border-gray-600) {
  border-color: #27272a !important;
}

:is(html[class~=dark] table .even\:dark\:nx-bg-gray-600\/20):nth-child(2n) {
  background-color: #18181b !important;
}

@supports (-webkit-backdrop-filter:blur(1px)) or ((-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))) {
  :is(html[class~=dark] .nextra-nav-container-blur.nx-pointer-events-none) {
    background-color: rgb(11, 11, 11, 0.8) !important;
  }
}